In [1]:
import pandas as pd

## Month Merge

In [2]:
challenger_month = pd.read_csv("month/challenger_month.csv")
charger_month = pd.read_csv("month/charger_month.csv")
durango_month = pd.read_csv("month/durango_month.csv")
grand_carvan_month = pd.read_csv("month/grand_carvan_month.csv")
journey_month = pd.read_csv("month/journey_month.csv")

In [3]:
challenger_month = challenger_month[:-1]
challenger_month['model'] = 'challenger'

In [4]:
charger_month = charger_month[:-1]
charger_month['model'] = 'charger'

In [5]:
durango_month = durango_month[:-1]
durango_month['model'] = 'durango'

In [6]:
grand_carvan_month = grand_carvan_month[:-1]
grand_carvan_month['model'] = 'grand_carvan'

In [7]:
journey_month = journey_month[:-1]
journey_month['model'] = 'journey'

In [8]:
dfs = [challenger_month, charger_month, durango_month, grand_carvan_month, journey_month]

dodge_month = pd.concat(dfs, axis=0, ignore_index=True)

In [9]:
dodge_month = dodge_month[['model', 'Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']]

In [10]:
dodge_month.columns = map(str.lower, dodge_month.columns)

In [11]:
dodge_month

,model,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,challenger,2008,-,-,-,-,2,80,464,122,228,246,284,205
1,challenger,2009,159,177,323,503,365,186,181,109,182,243,110,122
2,challenger,2010,124,198,430,614,371,285,299,196,265,121,123,71
3,challenger,2011,71,150,289,404,397,285,325,102,89,81,92,65
4,challenger,2012,67,84,337,189,173,165,162,89,80,42,56,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,journey,2015,1200,1582,1942,2474,2630,2031,2349,3020,1928,2030,2203,2257
58,journey,2016,1119,950,1430,1314,1408,1759,1586,1852,1199,1356,1465,1303
59,journey,2017,1388,1098,2027,1738,763,820,1096,597,813,1440,999,966
60,journey,2018,353,361,673,418,642,997,975,277,317,274,284,206
61,journey,2019,217,272,271,325,403,169,258,296,92,177,151,73

In [12]:
dodge_month.to_csv('merge/dodge_month.csv', index=False)

## Quarter Merge

In [13]:
challenger_quarter = pd.read_csv("quarter/challenger_quarter.csv")
charger_quarter = pd.read_csv("quarter/charger_quarter.csv")
durango_quarter = pd.read_csv("quarter/durango_quarter.csv")
grand_carvan_quarter = pd.read_csv("quarter/grand_carvan_quarter.csv")
journey_quarter = pd.read_csv("quarter/journey_quarter.csv")

In [14]:
challenger_quarter = challenger_quarter[:-1]
challenger_quarter['model'] = 'challenger'

charger_quarter = charger_quarter[:-1]
charger_quarter['model'] = 'charger'

durango_quarter = durango_quarter[:-1]
durango_quarter['model'] = 'durango'

grand_carvan_quarter = grand_carvan_quarter[:-1]
grand_carvan_quarter['model'] = 'grand_carvan'

journey_quarter = journey_quarter[:-1]
journey_quarter['model'] = 'journey'

In [15]:
dfs = [challenger_quarter, charger_quarter, durango_quarter, grand_carvan_quarter, journey_quarter]

dodge_quarter = pd.concat(dfs, axis=0, ignore_index=True)

In [16]:
dodge_quarter = dodge_quarter[['model', 'Year', 'Q1', 'Q2', 'Q3', 'Q4']]
dodge_quarter.columns = map(str.lower, dodge_quarter.columns)

In [17]:
dodge_quarter.to_csv('merge/dodge_quarter.csv', index=False)

## Year Merge

In [18]:
challenger_year = pd.read_csv("year/challenger_year.csv")
charger_year = pd.read_csv("year/charger_year.csv")
durango_year = pd.read_csv("year/durango_year.csv")
grand_carvan_year = pd.read_csv("year/grand_carvan_year.csv")
journey_year = pd.read_csv("year/journey_year.csv")

In [19]:
challenger_year = challenger_year[:-1]
challenger_year['model'] = 'challenger'

charger_year = charger_year[:-1]
charger_year['model'] = 'charger'

durango_year = durango_year[:-1]
durango_year['model'] = 'durango'

grand_carvan_year = grand_carvan_year[:-1]
grand_carvan_year['model'] = 'grand_carvan'

journey_year = journey_year[:-1]
journey_year['model'] = 'journey'

In [20]:
dfs = [challenger_year, charger_year, durango_year, grand_carvan_year, journey_year]

dodge_year = pd.concat(dfs, axis=0, ignore_index=True)

In [21]:
dodge_year.to_csv('merge/dodge_year.csv', index=False)